SECRET_KEY=your-secret-key
DEBUG=your-debug-flag
ALLOWED_HOSTS=localhost,127.0.0.1

PROFILE_FIXTURE_PASSWORD=your-password-for-fixture

POSTGRES_DB=your-database-name
POSTGRES_USER=your-database-user
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data

CELERY_BROKER_URL=your-redis-broker-url
CELERY_RESULT_BACKEND=your-redis-result-backend
CELERY_TIMEZONE=your-celery-timezone
CELERY_TASK_TRACK_STARTED=your-boolean-value
CELERY_TASK_TIME_LIMIT=your-task-time-limit-in-seconds

FLOWER_BASIC_AUTH=your-flower-auth-data
